<!-- Vista para mostrar UN solo producto -->
<div class="product-container">
    <h2>{{product.cod}} - {{product.nombre}}</h2>
    <img src="/img/{{product.thumbnail}}" alt="Imagen del producto" height="100px" width="100px">
    <p>Precio: ${{product.precio}}</p>
    <p>Descripción: {{product.descripcion}}</p>
    <p>Ruta del archivo: {{product.thumbnail}}</p>
</div>